# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# Ignore virtual environments
venv/
env/

# Ignore log and database files
*.log
*.sqlite3
*.db

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.vscode/
.idea/
*.swp

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore dependency files
Pipfile
Pipfile.lock
poetry.lock

# Ignore build directories
build/
dist/
*.egg-info/
